type hal_light_sdm710, coredomain, domain;
hal_server_domain(hal_light_sdm710, hal_light)

type hal_light_sdm710_exec, exec_type, file_type;
init_daemon_domain(hal_light_sdm710)

allow hal_light_sdm710 sysfs_white_led:file rw_file_perms;
allow hal_light_sdm710 sysfs_white_led:dir search;
